/* page layout style */
#layout{
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
}

/* menu underline style */
#menu ul {
    padding:10px;
    margin:2px;
    list-style:none;
    text-align: center;
}

/* menu item list style */
#menu ul li { 
    display: inline; 
}

/* menu sub-items style */
#menu ul li a {
    padding: 2px 20px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/* menu header style */
#header {
    margin: 200px;
    font-family: Cambria;
    text-align: center;
    color: brown;
    border-color: lawngreen;
    border-width: 30px;
}

#p{
    border-block-width: 20px;
    border-color: limegreen;
}